<a href="https://colab.research.google.com/github/JanDziewulski/FareData/blob/master/Energy_Star_Score_supervised_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Definicja problemu:
Celem jest wykorzystanie danych dotyczących energii do zbudowania modelu, który może przewidzieć wynik Energy Star budynku i zinterpretować wyniki, aby znaleźć czynniki, które wpływają na wynik.

##Czyszczenie i formatowanie danych

In [39]:
#Pckg install 

import pandas as pd
import numpy as np

In [40]:
#Zaczytywanie danych do DataFrame
data = pd.read_csv('Energy_and_Water_Data_Disclosure_for_Local_Law_84_2017__Data_for_Calendar_Year_2016_.csv')

In [41]:
#Wyświetlanie 5 pierwszych wierszy 
data.head()

   Order  ...                                                NTA
0      1  ...  Turtle Bay-East Midtown                       ...
1      2  ...  Washington Heights South                      ...
2      3  ...  Washington Heights South                      ...
3      4  ...  Washington Heights South                      ...
4      5  ...  Washington Heights South                      ...

[5 rows x 60 columns]

In [42]:
#Sprawdzanie brakujących danyc
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11746 entries, 0 to 11745
Data columns (total 60 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Order                                                       11746 non-null  int64
 1   Property Id                                                 11746 non-null  int64
 2   Property Name                                               11746 non-null  object
 3   Parent Property Id                                          11746 non-null  object
 4   Parent Property Name                                        11746 non-null  object
 5   BBL - 10 digits                                             11735 non-null  object
 6   NYC Borough, Block and Lot (BBL) self-reported              11746 non-null  object
 7   NYC Building Identification Number (BIN)                    11746 non-null  object
 8   Address 1 (self-reported)                                   11746 non-null  object
 9   Address 2                                                   11746 non-null  object
 10  Postal Code                                                 11746 non-null  object
 11  Street Number                                               11622 non-null  object
 12  Street Name                                                 11624 non-null  object
 13  Borough                                                     11628 non-null  object
 14  DOF Gross Floor Area                                        11628 non-null  float64
 15  Primary Property Type - Self Selected                       11746 non-null  object
 16  List of All Property Use Types at Property                  11746 non-null  object
 17  Largest Property Use Type                                   11746 non-null  object
 18  Largest Property Use Type - Gross Floor Area (ft²)          11746 non-null  object
 19  2nd Largest Property Use Type                               11746 non-null  object
 20  2nd Largest Property Use - Gross Floor Area (ft²)           11746 non-null  object
 21  3rd Largest Property Use Type                               11746 non-null  object
 22  3rd Largest Property Use Type - Gross Floor Area (ft²)      11746 non-null  object
 23  Year Built                                                  11746 non-null  int64
 24  Number of Buildings - Self-reported                         11746 non-null  int64
 25  Occupancy                                                   11746 non-null  int64
 26  Metered Areas (Energy)                                      11746 non-null  object
 27  Metered Areas  (Water)                                      11746 non-null  object
 28  ENERGY STAR Score                                           11746 non-null  object
 29  Site EUI (kBtu/ft²)                                         11746 non-null  object
 30  Weather Normalized Site EUI (kBtu/ft²)                      11746 non-null  object
 31  Weather Normalized Site Electricity Intensity (kWh/ft²)     11746 non-null  object
 32  Weather Normalized Site Natural Gas Intensity (therms/ft²)  11746 non-null  object
 33  Weather Normalized Source EUI (kBtu/ft²)                    11746 non-null  object
 34  Fuel Oil #1 Use (kBtu)                                      11746 non-null  object
 35  Fuel Oil #2 Use (kBtu)                                      11746 non-null  object
 36  Fuel Oil #4 Use (kBtu)                                      11746 non-null  object
 37  Fuel Oil #5 & 6 Use (kBtu)                                  11746 non-null  object
 38  Diesel #2 Use (kBtu)                                        11746 non-null  object
 39  District Steam Use (kBtu)                                   11746 non-null  object
 40  Natural Gas Use (kBtu)                                      11746 non-null  object
 41  Weather Normalized Site Natural Gas Use (therms)            11746 non-null  object
 42  Electricity Use - Grid Purchase (kBtu)                      11746 non-null  object
 43  Weather Normalized Site Electricity (kWh)                   11746 non-null  object
 44  Total GHG Emissions (Metric Tons CO2e)                      11746 non-null  object
 45  Direct GHG Emissions (Metric Tons CO2e)                     11746 non-null  object
 46  Indirect GHG Emissions (Metric Tons CO2e)                   11746 non-null  object
 47  Property GFA - Self-Reported (ft²)                          11746 non-null  int64
 48  Water Use (All Water Sources) (kgal)                        11746 non-null  object
 49  Water Intensity (All Water Sources) (gal/ft²)               11746 non-null  object
 50  Source EUI (kBtu/ft²)                                       11746 non-null  object
 51  Release Date                                                11746 non-null  object
 52  Water Required?                                             11628 non-null  object
 53  DOF Benchmarking Submission Status                          11716 non-null  object
 54  Latitude                                                    9483 non-null   float64
 55  Longitude                                                   9483 non-null   float64
 56  Community Board                                             9483 non-null   float64
 57  Council District                                            9483 non-null   float64
 58  Census Tract                                                9483 non-null   float64
 59  NTA                                                         9483 non-null   object
dtypes: float64(6), int64(6), object(48)
memory usage: 5.4+ MB

In [43]:
#Zamiana Not Available na NaN
data = data.replace({'Not Available': np.nan})

In [44]:
data.filter('NaN', axis=0).sum()

Order                                                         0.0
Property Id                                                   0.0
Property Name                                                 0.0
Parent Property Id                                            0.0
Parent Property Name                                          0.0
BBL - 10 digits                                               0.0
NYC Borough, Block and Lot (BBL) self-reported                0.0
NYC Building Identification Number (BIN)                      0.0
Address 1 (self-reported)                                     0.0
Address 2                                                     0.0
Postal Code                                                   0.0
Street Number                                                 0.0
Street Name                                                   0.0
Borough                                                       0.0
DOF Gross Floor Area                                          0.0
Primary Property Type - Self Selected                         0.0
List of All Property Use Types at Property                    0.0
Largest Property Use Type                                     0.0
Largest Property Use Type - Gross Floor Area (ft²)            0.0
2nd Largest Property Use Type                                 0.0
2nd Largest Property Use - Gross Floor Area (ft²)             0.0
3rd Largest Property Use Type                                 0.0
3rd Largest Property Use Type - Gross Floor Area (ft²)        0.0
Year Built                                                    0.0
Number of Buildings - Self-reported                           0.0
Occupancy                                                     0.0
Metered Areas (Energy)                                        0.0
Metered Areas  (Water)                                        0.0
ENERGY STAR Score                                             0.0
Site EUI (kBtu/ft²)                                           0.0
Weather Normalized Site EUI (kBtu/ft²)                        0.0
Weather Normalized Site Electricity Intensity (kWh/ft²)       0.0
Weather Normalized Site Natural Gas Intensity (therms/ft²)    0.0
Weather Normalized Source EUI (kBtu/ft²)                      0.0
Fuel Oil #1 Use (kBtu)                                        0.0
Fuel Oil #2 Use (kBtu)                                        0.0
Fuel Oil #4 Use (kBtu)                                        0.0
Fuel Oil #5 & 6 Use (kBtu)                                    0.0
Diesel #2 Use (kBtu)                                          0.0
District Steam Use (kBtu)                                     0.0
Natural Gas Use (kBtu)                                        0.0
Weather Normalized Site Natural Gas Use (therms)              0.0
Electricity Use - Grid Purchase (kBtu)                        0.0
Weather Normalized Site Electricity (kWh)                     0.0
Total GHG Emissions (Metric Tons CO2e)                        0.0
Direct GHG Emissions (Metric Tons CO2e)                       0.0
Indirect GHG Emissions (Metric Tons CO2e)                     0.0
Property GFA - Self-Reported (ft²)                            0.0
Water Use (All Water Sources) (kgal)                          0.0
Water Intensity (All Water Sources) (gal/ft²)                 0.0
Source EUI (kBtu/ft²)                                         0.0
Release Date                                                  0.0
Water Required?                                               0.0
DOF Benchmarking Submission Status                            0.0
Latitude                                                      0.0
Longitude                                                     0.0
Community Board                                               0.0
Council District                                              0.0
Census Tract                                                  0.0
NTA                                                           0.0
dtype: float64

In [45]:
# Iteracja po kolumnach
for col in list(data.columns):
    # Zamiana typu zmiennych w kolumnach 
    if ('ft²' in col or 'kBtu' in col or 'Metric Tons CO2e' in col or 'kWh' in col or 'therms' in col or 'gal' in col or 'Score' in col):
    # Konwersja typu object na float
      data[col] = data[col].astype(float)

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11746 entries, 0 to 11745
Data columns (total 60 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Order                                                       11746 non-null  int64
 1   Property Id                                                 11746 non-null  int64
 2   Property Name                                               11746 non-null  object
 3   Parent Property Id                                          11746 non-null  object
 4   Parent Property Name                                        11746 non-null  object
 5   BBL - 10 digits                                             11735 non-null  object
 6   NYC Borough, Block and Lot (BBL) self-reported              11735 non-null  object
 7   NYC Building Identification Number (BIN)                    11584 non-null  object
 8   Address 1 (self-reported)                                   11746 non-null  object
 9   Address 2                                                   207 non-null    object
 10  Postal Code                                                 11746 non-null  object
 11  Street Number                                               11622 non-null  object
 12  Street Name                                                 11624 non-null  object
 13  Borough                                                     11628 non-null  object
 14  DOF Gross Floor Area                                        11628 non-null  float64
 15  Primary Property Type - Self Selected                       11746 non-null  object
 16  List of All Property Use Types at Property                  11746 non-null  object
 17  Largest Property Use Type                                   11744 non-null  object
 18  Largest Property Use Type - Gross Floor Area (ft²)          11744 non-null  float64
 19  2nd Largest Property Use Type                               3741 non-null   object
 20  2nd Largest Property Use - Gross Floor Area (ft²)           3741 non-null   float64
 21  3rd Largest Property Use Type                               1484 non-null   object
 22  3rd Largest Property Use Type - Gross Floor Area (ft²)      1484 non-null   float64
 23  Year Built                                                  11746 non-null  int64
 24  Number of Buildings - Self-reported                         11746 non-null  int64
 25  Occupancy                                                   11746 non-null  int64
 26  Metered Areas (Energy)                                      11689 non-null  object
 27  Metered Areas  (Water)                                      7137 non-null   object
 28  ENERGY STAR Score                                           9642 non-null   float64
 29  Site EUI (kBtu/ft²)                                         11583 non-null  float64
 30  Weather Normalized Site EUI (kBtu/ft²)                      10281 non-null  float64
 31  Weather Normalized Site Electricity Intensity (kWh/ft²)     10959 non-null  float64
 32  Weather Normalized Site Natural Gas Intensity (therms/ft²)  9783 non-null   float64
 33  Weather Normalized Source EUI (kBtu/ft²)                    10281 non-null  float64
 34  Fuel Oil #1 Use (kBtu)                                      9 non-null      float64
 35  Fuel Oil #2 Use (kBtu)                                      2581 non-null   float64
 36  Fuel Oil #4 Use (kBtu)                                      1321 non-null   float64
 37  Fuel Oil #5 & 6 Use (kBtu)                                  594 non-null    float64
 38  Diesel #2 Use (kBtu)                                        16 non-null     float64
 39  District Steam Use (kBtu)                                   936 non-null    float64
 40  Natural Gas Use (kBtu)                                      10304 non-null  float64
 41  Weather Normalized Site Natural Gas Use (therms)            9784 non-null   float64
 42  Electricity Use - Grid Purchase (kBtu)                      11502 non-null  float64
 43  Weather Normalized Site Electricity (kWh)                   10960 non-null  float64
 44  Total GHG Emissions (Metric Tons CO2e)                      11672 non-null  float64
 45  Direct GHG Emissions (Metric Tons CO2e)                     11663 non-null  float64
 46  Indirect GHG Emissions (Metric Tons CO2e)                   11681 non-null  float64
 47  Property GFA - Self-Reported (ft²)                          11746 non-null  float64
 48  Water Use (All Water Sources) (kgal)                        7762 non-null   float64
 49  Water Intensity (All Water Sources) (gal/ft²)               7762 non-null   float64
 50  Source EUI (kBtu/ft²)                                       11583 non-null  float64
 51  Release Date                                                11746 non-null  object
 52  Water Required?                                             11628 non-null  object
 53  DOF Benchmarking Submission Status                          11716 non-null  object
 54  Latitude                                                    9483 non-null   float64
 55  Longitude                                                   9483 non-null   float64
 56  Community Board                                             9483 non-null   float64
 57  Council District                                            9483 non-null   float64
 58  Census Tract                                                9483 non-null   float64
 59  NTA                                                         9483 non-null   object
dtypes: float64(32), int64(5), object(23)
memory usage: 5.4+ MB

In [47]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [48]:
missing_values_table(data)

Your selected dataframe has 60 columns.
There are 46 columns that have missing values.

                                                    Missing Values  % of Total Values
Fuel Oil #1 Use (kBtu)                                       11737               99.9
Diesel #2 Use (kBtu)                                         11730               99.9
Address 2                                                    11539               98.2
Fuel Oil #5 & 6 Use (kBtu)                                   11152               94.9
District Steam Use (kBtu)                                    10810               92.0
Fuel Oil #4 Use (kBtu)                                       10425               88.8
3rd Largest Property Use Type - Gross Floor Are...           10262               87.4
3rd Largest Property Use Type                                10262               87.4
Fuel Oil #2 Use (kBtu)                                        9165               78.0
2nd Largest Property Use Type                                 8005               68.2
2nd Largest Property Use - Gross Floor Area (ft²)             8005               68.2
Metered Areas  (Water)                                        4609               39.2
Water Intensity (All Water Sources) (gal/ft²)                 3984               33.9
Water Use (All Water Sources) (kgal)                          3984               33.9
Latitude                                                      2263               19.3
Longitude                                                     2263               19.3
Community Board                                               2263               19.3
Council District                                              2263               19.3
Census Tract                                                  2263               19.3
NTA                                                           2263               19.3
ENERGY STAR Score                                             2104               17.9
Weather Normalized Site Natural Gas Intensity (...            1963               16.7
Weather Normalized Site Natural Gas Use (therms)              1962               16.7
Weather Normalized Source EUI (kBtu/ft²)                      1465               12.5
Weather Normalized Site EUI (kBtu/ft²)                        1465               12.5
Natural Gas Use (kBtu)                                        1442               12.3
Weather Normalized Site Electricity Intensity (...             787                6.7
Weather Normalized Site Electricity (kWh)                      786                6.7
Electricity Use - Grid Purchase (kBtu)                         244                2.1
Site EUI (kBtu/ft²)                                            163                1.4
Source EUI (kBtu/ft²)                                          163                1.4
NYC Building Identification Number (BIN)                       162                1.4
Street Number                                                  124                1.1
Street Name                                                    122                1.0
Borough                                                        118                1.0
DOF Gross Floor Area                                           118                1.0
Water Required?                                                118                1.0
Direct GHG Emissions (Metric Tons CO2e)                         83                0.7
Total GHG Emissions (Metric Tons CO2e)                          74                0.6
Indirect GHG Emissions (Metric Tons CO2e)                       65                0.6
Metered Areas (Energy)                                          57                0.5
DOF Benchmarking Submission Status                              30                0.3
NYC Borough, Block and Lot (BBL) self-reported                  11                0.1
BBL - 10 digits                                                 11                0.1
Largest Property Use Type                                        2                0.0
Largest Property Use Type - Gross Floor Area (ft²)               2                0.0

In [49]:
# Get the columns with > 50% missing
missing_df = missing_values_table(data);
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print('We will remove %d columns.' % len(missing_columns))

Your selected dataframe has 60 columns.
There are 46 columns that have missing values.
We will remove 11 columns.

In [50]:
# Usuwanie kolumn
data = data.drop(columns = list(missing_columns))

##Exploratory Data Analysis
Krótko mówiąc, celem EDA jest dowiedzieć się, co mogą nam powiedzieć nasze dane. Zwykle zaczyna się od ogólnego przeglądu, a następnie zawęża się do określonych obszarów, gdy znajdujemy interesujące części danych. Wyniki mogą być interesujące same w sobie lub mogą posłużyć do podejmowania decyzji dotyczących modelowania, na przykład pomagając nam zdecydować, których funkcji użyć.

In [51]:
import matplotlib.pyplot as plt

# Histogram of the Energy Star Score
plt.style.use('fivethirtyeight')
plt.hist(data['score'].dropna(), bins = 100, edgecolor = 'k');
plt.xlabel('Score'); plt.ylabel('Number of Buildings'); 
plt.title('Energy Star Score Distribution');

KeyError: ignored

In [ ]:
# Create a list of buildings with more than 100 measurements
types = data.dropna(subset=['score'])
types = types['Largest Property Use Type'].value_counts()
types = list(types[types.values > 100].index)

# Plot of distribution of scores for building categories
figsize(12, 10)

# Plot each building
for b_type in types:
    # Select the building type
    subset = data[data['Largest Property Use Type'] == b_type]

    # Density plot of Energy Star scores
    sns.kdeplot(subset['score'].dropna(),
               label = b_type, shade = False, alpha = 0.8);

# label the plot
plt.xlabel('Energy Star Score', size = 20); plt.ylabel('Density', size = 20); 
plt.title('Density Plot of Energy Star Scores by Building Type', size = 28);